div#yith-quick-view-content .summary.entry-summary .summary-content form.cart {
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    margin-bottom: 30px;
}



body.astha #yith-quick-view-content div.summary>div.summary-content {
/*    overflow-y: auto;
    height: 400px;*/
    padding-top: 15px;
    padding-bottom: 35px;
    padding-right: 20px;
}
body.astha #yith-quick-view-content div.summary {
    padding: 0 0 20px 25px;
}
#yith-quick-view-close {
    top: 15px;
    right: 15px;
}


/* Scrollbar Design */
/* width */
body.astha #yith-quick-view-modal ::-webkit-scrollbar {
  width: 7px;
}

/* Track */
body.astha #yith-quick-view-modal ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
body.astha #yith-quick-view-modal ::-webkit-scrollbar-thumb {
  background: var(--astha-primary); 
}

/* Handle on hover */
body.astha #yith-quick-view-modal ::-webkit-scrollbar-thumb:hover {
  background: var(--astha-primary-deep); 
}
div#yith-quick-view-modal * {
    direction: ltr;
}
@media (min-width:768px) {
    body.astha #yith-quick-view-modal .yith-wcqv-wrapper {
        height: 400px;
        min-height: 350px;
        overflow: hidden;
        /* border: 9px solid #000000; */
    }
    body.astha #yith-quick-view-modal.open .yith-wcqv-main {
        overflow-y: unset;
    }
    
    body.astha #yith-quick-view-content div.summary>div.summary-content {
        overflow-y: auto;
        height: 400px;
/*        padding-top: 15px;
        padding-bottom: 35px;
        padding-right: 20px;*/
    }
    #yith-quick-view-close {
        top: 20px;
        right: 25px;
    }
}